@model Filminurk.Models.FavouriteLists.FavouriteListIndexImageViewModel

<div>
    @if (!Model.Image.Any())
    {
        <p>Pilte pole</p>
    }
</div>

@if (Model.ImageTitle == "Poster")
{
    <img class="card-img-top" src="@Model.Image" asp-append-version="true" />

}
else
{
    <td><img width="128" src="~/lib/defaultassets/image/noposter.png" /></td>
}
