@model IEnumerable<Filminurk.Models.FavouriteLists.FavouriteListIndexViewModel>

@{
    int rowNumber = 1;
    int currentRow = 1;
    int currentTitle = 1;
    int tilesInRow = 1;
}

<div>
    <a asp-action="Create" asp-asp-controller="FavouriteLists" class="btn btn-primary">Tee uus lemmikute nimekiri</a>
    <a asp-action="Index" asp-asp-controller="Home" class="btn btn-primary">Pealeht</a>

</div>
<div @* NO CLASS CURRENTLY, NO DESIGN SPECIFIED*@>
    <form method="post">
        <table class="table">
            <thead>
                @if (!Model.Any())
                {
                    <tr>
                        <th scope="col" colspan="2">
                            <span>kahjuks ei leidnud ühtegi lemmikute nimekirja</span>
                        </th>
                    </tr>
                }
                else
                {
                    <tr>
                        <th>
                            <span>Sinu nimekirjad:</span>
                        </th>
                    </tr>
                }
            </thead>
            <tbody>
                @if (!Model.Any())
                {
                    <table>
                        <tr>
                            <td colspan="2">Sorry, no list</td>
                        </tr>
                        <tr>
                            <td><img width="128" src="~/lib/defaultassets/image/noposter.png" /></td>
                        </tr>
                    </table>
                }
                else
                {
                    @foreach (var list in Model)
                    {
                        <table>
                            <tr>
                                <td colspan="2">
                                    <a asp-action="ListDetailsListOwner" asp-controller="FavouriteLists" asp-route-id="@list.FavouriteListID">@list.ListName</a>
                                    </td>
                            </tr>
                            <tr>
                                <td>
                                    @foreach(var image in list.Image)
                                    {
                                        <partial name="_ImageIndex" model="image" />                                        
                                    }
                                </td>
                                <td>@list.ListDescription</td>
                            </tr>
                        </table>
                    }
                    rowNumber++;

                }
            </tbody>

        </table>
    </form>
</div>