@model IEnumerable<Filminurk.Models.FavouriteLists.FavuriteListIndexViewModel>

@{
    int rowNumber = 1;
    int currentRow = 1;
    int currentTitle = 1;
    int tilesInRow = 1;
}

<div>
    <a asp-action="CreateList" asp-asp-controller="FavouriteLists" class="btn btn-primary">Tee uus lemmikute nimekiri</a>
</div>
<div @* NO CLASS CURRENTLY, NO DESIGN SPECIFIED*@>
    <form method="post">
        <table class="table">
            <thead>
                @if (!Model.Any())
                {
                    <tr>
                        <th scope="col" colspan="2">
                            <span>kahjuks ei leidnud ühtegi lemmikute nimekirja</span>
                        </th>
                    </tr>
                }
                else
                {
                    <tr>
                        <th>
                            <span>Sinu nimekirjad:</span>
                        </th>
                    </tr>
                }
            </thead>
            <tbody>
                @if (!Model.Any())
                {
                    <table>
                        <tr>
                            <td colspan="2">Sorry, no list</td>
                        </tr>
                        <tr>
                            <td><img width="128" src="~/lib/defaultassets/image/noposter.png"</td>
                        </tr>
                    </table>
                }
                else
                {
                    
                }
            </tbody>

        </table>
    </form>
</div>